@using Pizza.Mvc.HtmlHelpers
@using Pizza.Mvc.Resources
@model Pizza.Mvc.Grid.Metamodel.GridMetamodel

@if (Model.NewItemLink.IsEnabled)
{
    <p>
        @(Html.ActionLink(Model.NewItemLink.Text, ScriptKeys.Create))
    </p>
}

@Html.JqGrid(Model, Url.Action(Model.GetGridDataActionName))


<div id="divConfirmDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <h3>@UiTexts.Dialog_DeleteRowConfirmation_Title</h3>
            </div>
            <div class="modal-body">
                <p>@UiTexts.Dialog_DeleteRowConfirmation_Question</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYes" class="btn btn-danger">@UiTexts.DialogButton_Yes</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default">@UiTexts.DialogButton_No</a>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    @if (Model.DetailsLink.IsEnabled)
    {
        <text>
        var detailsLink = '@Html.ActionLink(Model.DetailsLink.Text, ScriptKeys.Details, new {id = "_id_"})';

        function buildDetailsLink(cellvalue, options, rowobject) {
            var link = detailsLink.replace("_id_", options.rowId);
            return link;
        }
        </text>
    }

    @if (Model.EditLink.IsEnabled)
    {
        <text>
        var editLink = '@Html.ActionLink(Model.EditLink.Text, ScriptKeys.Edit, new { id = "_id_" })';

        function buildEditLink(cellvalue, options, rowobject) {
            var link = editLink.replace("_id_", options.rowId);
            return link;
        }
        </text>
    }

    function buildDeleteLink(cellvalue, options, rowobject) {
        var link = "<a name='delete' data-id='" + options.rowId + "' href=''>@Model.DeleteLink.Text</a>";
        return link;
    }

    function showConfirmDeleteDialog(e) {
        e.preventDefault();
        var rowId = $(this).attr('data-id');

        var sendDeleteRequest = function () {
            var rowId = $('#divConfirmDialog').data('rowId');

            console.log('Deleting: ' + rowId);

            $.ajax({
                dataType: "json",
                type: 'DELETE',
                url: '@Url.Action(ScriptKeys.Delete)',
                data: { id: rowId },
                success: function (result) {
                    $('#mainGrid').trigger('reloadGrid');
                }
            });

            $('#divConfirmDialog').modal('hide');
            $('#btnYes').unbind();
        }

        $('#btnYes').click(sendDeleteRequest);

        $('#divConfirmDialog').data('rowId', rowId).modal({ show: true });
    }

    function gridComplete() {
        $("[name='delete']").click(showConfirmDeleteDialog);
    }
</script>
