@using Pizza.Mvc.HtmlHelpers
@using Pizza.Mvc.Resources
@model Pizza.Contracts.IEditModelBase

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tinymce")
}

<h2>
    @ViewBag.PageTitle
</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">

        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        @Html.ModelEditor(Model)

        <div class="form-group">
            <div class="col-md-offset-11 col-md-12">
                <input type="submit" value="@UiTexts.FormButton_Save" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink(UiTexts.Link_BackToIndex, (string)ViewBag.GoBackUrl)
</div>
